/* simple grid with hortz navigation */
/* adhamlin a.k.a Hamberfim */

html,
body {
    margin: 5px;
    /* container need 100% also */
    /*height: 100%;*/
}

h3 {
    color: #263238;
    margin-bottom: -0.3em;
    margin-top: 0.5em;
}

.masthead {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
    padding: 14px 2px 2px 12px;
    font-family: sans-serif;
    font-size: 1.9rem;
    background-color: #263238;
    color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    height: 9vh;
    margin-bottom: 0px;
}

.footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
    padding: 2px 2px 2px 12px;
    font-family: sans-serif;
    font-size: 0.7rem;
    text-align: center;
    background-color: #263238;
    color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    height: 10vh;
}

.dummyimg {
    margin-left: auto;
    margin-right: 0;
    background-color: #455A64;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
    vertical-align: top;
    padding: 5px;
    width: 125px;
    height: 125px;
    margin: 0 0 1px 1px;
}

.white {
    text-decoration: none;
    color: white;
}

.white:hover {
    text-decoration: underline;
    color: #cccccc;
}


ul {
    list-style-type: none;
}

.main_wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 1px;
}

.content {
    display: grid;
    grid-column: 100%;
    padding: 0.3px 6px 6px 6px;
    font-family: sans-serif;
}

.content > p {
    font-family: sans-serif;
    font-size: 0.9rem;
    color: #212121;
}

p.stamp {
    font-size: 0.7rem;
    margin-top: -0.5em;
}


.container {
    display: flex;
    flex-wrap: nowrap;
}

.container > div {
    padding: 5px;
    background-color: #455A64;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.99em;
    color: #ffffff;
}

.home {
    flex: 1;
}

.about {
    flex: 1;
}

.prod {
    flex: 1;
}

.blog {
    flex: 1;
}

.contact {
    flex: 1;
}
